.container {
    container-type: inline-size;
    padding: calc(var(--spacing) * 8);
    row-gap: calc(var(--spacing) * 6);
}

ul#channels {
    align-items: start;
    display: grid;
    flex-grow: 1;
    grid-gap: calc(var(--spacing) * 6);
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

@container (min-width: 24rem) {
    ul#channels {
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * 84), 1fr));
    }
}

ul#channels li {
    background-color: #2b2b2b;
    border-radius: var(--radius-xl);
    box-shadow: 0 4px 6px -1px #181818, 0 2px 4px -2px #181818;
    display: flex;
    max-height: calc(var(--spacing) * 20);
    overflow: hidden;
    transition-duration: 500ms;
    transition-property: transform;
}

ul#channels li:hover {
    transform: scale(105%);
}

ul#channels li a {
    align-items: center;
    display: flex;
    column-gap: calc(var(--spacing) * 2);
    flex-direction: row;
    overflow: hidden;
    padding-right: calc(var(--spacing) * 3.5);
    width: 100%;
}

img.thumbnail {
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
}

.channel-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    column-gap: calc(var(--spacing) * 2);
    justify-content: center;
    overflow: hidden;
    padding: calc(var(--spacing) * 2) 0 calc(var(--spacing) * 2) calc(var(--spacing) * 3.5);
}

.channel-name {
    color: var(--color-gray-50);
    font-weight: var(--font-weight-medium);
    line-height: calc(var(--spacing) * 7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel-handle {
    color: var(--color-gray-400);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-normal);
    line-height: var(--text-sm--line-height);
}

.relative {
    position: relative;
}

.pill {
    background-color: oklch(0.4 0 0);
    border-radius: calc(infinity * 1px);
    color: var(--color-white);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
}

.filters {
    background-color: rgb(43, 43, 43);
    box-shadow: rgb(24, 24, 24) 0px 4px 6px -1px, rgb(24, 24, 24) 0px 2px 4px -2px;
    border-color: var(--color-gray-500);
    border-radius: var(--radius-xl);
    border-width: 1px;
    padding: calc(var(--spacing) * 4);
}

.filters h3 {
    color: var(--color-white);
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
    margin-bottom: calc(var(--spacing) * 3);
}

.content {
    column-gap: calc(var(--spacing) * 8);
}

#views-menu li a {
    border-radius: var(--radius-lg);
    color: var(--color-white);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
}

#views-menu li a .selected {
    background-color: var(--color-red-50);
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
