@page "/channels"

<PageTitle>Channels</PageTitle>

<div class="container">
    <ul>
        @foreach (var channel in Channels)
        {
            <li>
                <a href="@channel.Url">
                    <img alt="Channel thumbnail"
                         class="thumbnail"
                         src="@channel.Thumbnail" />
                    <div class="channel-info">
                        <h4 class="channel-name">
                            @channel.Name
                        </h4>
                        <span class="channel-handle">
                            @@@channel.Handle
                        </span>
                    </div>

                    @if (channel.UnwatchedVideos > 0)
                    {
                        <div class="pill">
                            @channel.UnwatchedVideos
                        </div>
                    }
                </a>
            </li>
        }
    </ul>
</div>
