.container {
    container-type: inline-size;
}

ul {
    align-items: start;
    display: grid;
    grid-gap: calc(var(--spacing) * 6);
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding: calc(var(--spacing) * 8);
}

@container (min-width: 24rem) {
    ul {
        grid-template-columns: repeat(auto-fill, minmax(calc(var(--spacing) * 84), 1fr));
    }
}

li {
    background-color: #2b2b2b;
    border-radius: var(--radius-xl);
    box-shadow: 0 4px 6px -1px #181818, 0 2px 4px -2px #181818;
    display: flex;
    max-height: calc(var(--spacing) * 20);
    overflow: hidden;
    transition-duration: 500ms;
    transition-property: transform;
}

li:hover {
    transform: scale(105%);
}

li a {
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-right: calc(var(--spacing) * 3.5);
}

img.thumbnail {
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
}

.channel-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    column-gap: calc(var(--spacing) * 2);
    justify-content: center;
    overflow: hidden;
    padding: calc(var(--spacing) * 2) 0 calc(var(--spacing) * 2) calc(var(--spacing) * 3.5);
}

.channel-name {
    color: var(--color-gray-50);
    font-weight: var(--font-weight-medium);
    line-height: calc(var(--spacing) * 7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel-handle {
    color: var(--color-gray-400);
    font-size: var(--text-xs);
    font-weight: var(--font-weight-normal);
    line-height: calc(var(--spacing) * 6);
}

.relative {
    position: relative;
}

.pill {
    background-color: oklch(0.4 0 0);
    border-radius: calc(infinity * 1px);
    color: var(--color-white);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
}
