.container {
    container-name: video-container;
    container-type: inline-size;
    display: flex;
    flex-direction: column;
}

iframe {
    aspect-ratio: 4 / 3;
    border: none;
    width: 100%;
}

@container video-container (min-width: 40rem) {
    iframe {
        aspect-ratio: 16 / 9;
    }
}
