@inherits LayoutComponentBase
@using SimpleTube.BlazorApp.Layout.NavMenu

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
