.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

main {
    background-color: #1d1d1d;
    flex: 1;
}

article {
    height: 100%;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        height: 100vh;
        max-width: 350px;
        min-width: 250px;
        position: sticky;
        top: 0;
    }
}
